.settings
.classpath
.project
*.ipr
*.iws
dist/
lib_managed/
project/activator*
project/boot/
project/plugins/project/
# use glob syntax.
syntax: glob
*.ser
*~
*.bak
#*.off
*.old

# idea
.idea/

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
.DS_Store
derby.log

*.db

.lib
sbt

logs
sandbox/db

.sbtserver/
project/project/

# Configs are personal for each developer
conf/application.conf
project/scalikejdbc.properties