<script type="text/html" id="measurements-history-template">
<div class="container">
    <div id="measuresHistory">
        <!-- ko foreach: meterHistoryGroup -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" data-bind="text: title"></h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <th>Measure value</th>
                        <th>Meter unit</th>
                        <th>Date</th>
                        <th>Paid</th>
                    </thead>
                    <tbody data-bind="foreach: meterReadings">
                        <tr>
                            <td data-bind="text: value"></td>
                            <td data-bind="text: unit"></td>
                            <td data-bind="text: date"></td>
                            <td data-bind="text: paid"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <canvas data-bind="chart: { type: 'line', data: plotData }"></canvas>
        <!-- /ko -->
    </div>
</div>
</script>