<script type="text/html" id="meters-create-template">
<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div id="legend">
            <legend class=""><h1>Create your own meters!</h1></legend>
        </div>
        <div class="control-group">
                <!-- Meter Title -->
            <label class="control-label"  for="name">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="" class="input-xlarge" data-bind="value: name">
                <p class="help-block">Name can contain any letters or numbers</p>
            </div>
        </div>

        <div class="control-group">
                <!-- Surname -->
            <label class="control-label" for="surname">Surname</label>
            <div class="controls">
                <input type="text" id="surname" name="surname" placeholder="" class="input-xlarge"  data-bind="value: surname">
                <p class="help-block">Surname can contain any letters or numbers</p>
            </div>
        </div>

        <div class="control-group">
                <!-- Paternal name -->
            <label class="control-label" for="paternalName">Paternal name</label>
            <div class="controls">
                <input type="text" id="paternalName" name="paternalName" placeholder="" class="input-xlarge"  data-bind="value: paternalName">
                <p class="help-block">Paternal name can contain any letters or numbers</p>
            </div>
        </div>

        <div class="control-group">
                <!-- Button -->
            <div class="controls">
                <button class="btn btn-success" data-bind="click: register">Register</button>
            </div>
        </div>
    </fieldset>
</form>
</script>