<script type="text/html" id="profile-template">
    <div id="profile">
        <!-- ko foreach: meters -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 data-bind="text: name"></h1>
                <h2 data-bind="text: address"></h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Meter name</th>
                            <th>Measure value</th>
                            <th>Meter unit</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: meters">
                        <tr>
                            <td data-bind="text: title"></td>
                            <td><input data-bind="value: value,attr: {placeholder: title+' Measure'}" type="text" class="form-control"></td>
                            <td data-bind="text: unit"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /ko -->
    </div>
</script>