<script type="text/html" id="service-requests-template">
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>Flat #<span data-bind="text: flatNumber"></span></h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Next visit date</th>
                        <th>Total cost</th>
                        <th>Creation date</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: serviceRequests">
                    <tr>
                        <td>
                            <a data-bind="text: description, attr: {href: '#/serviceRequests/getInfo/'+id}"></a>
                        </td>
                        <td>
                            <!-- ko if: status() === 0 -->Open<!-- /ko -->
                            <!-- ko if: status() === 1 -->In progress<!-- /ko -->
                            <!-- ko if: status() === 2 -->Idle<!-- /ko -->
                            <!-- ko if: status() === 3 -->Closed<!-- /ko -->
                            <!-- ko if: status() === 4 -->Done<!-- /ko -->
                        </td>
                        <td data-bind="text: nextVisitDate"></td>
                        <td data-bind="text: totalCost() + '₽'"></td>
                        <td data-bind="text: creationDate"></td>
                        <td class="form-group">
                            <label class="col-md-3 control-label" for="rating"></label>
                            <div class="col-md-10 input-group">
                                <input class="icon-checkbox" type="radio" value="1"
                                data-bind="checked: rating, checkedValue: 1"/>
                                <label>
                                    <span class='glyphicon glyphicon-star unchecked text-muted'></span>
                                    <span class='glyphicon glyphicon-star checked text-danger'></span>
                                </label>
                                <input class="icon-checkbox" type="radio" value="2"
                                data-bind="checked: rating, checkedValue: 2"/>
                                <label>
                                    <span class='glyphicon glyphicon-star unchecked text-muted'></span>
                                    <span class='glyphicon glyphicon-star checked text-danger'></span>
                                </label>
                                <input class="icon-checkbox" type="radio" value="3"
                                data-bind="checked: rating, checkedValue: 3"/>
                                <label>
                                    <span class='glyphicon glyphicon-star unchecked text-muted'></span>
                                    <span class='glyphicon glyphicon-star checked text-danger'></span>
                                </label>
                                <input class="icon-checkbox" type="radio" value="4"
                                data-bind="checked: rating, checkedValue: 4"/>
                                <label>
                                    <span class='glyphicon glyphicon-star unchecked text-muted'></span>
                                    <span class='glyphicon glyphicon-star checked text-danger'></span>
                                </label>
                                <input class="icon-checkbox" type="radio" value="5"
                                data-bind="checked: rating, checkedValue: 5"/>
                                <label>
                                    <span class='glyphicon glyphicon-star unchecked text-muted'></span>
                                    <span class='glyphicon glyphicon-star checked text-danger'></span>
                                </label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addRequestModal">New request</button>
        </div>
    </div>
</div>
<div class="modal fade" id="addRequestModal" tabindex="-1" role="dialog" aria-labelledby="addComentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addRequestLabel">Add new request</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-10 input-group">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                        <textarea id="newRequest"
                        class="form-control"
                        rows="1"
                        data-bind="value: newRequestDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: createRequest">Save changes</button>
            </div>
        </div>
    </div>
</div>
</script>