<script type="text/html" id="sign-in-template">
<div class="container">
<form class="form-horizontal" action='' method="POST">
<div id="legend"><legend class="">Sign In</legend></div>
<!-- Email -->
<div class="form-group">
<input type="text" placeholder="Email" class="form-control"
data-bind="value: email">
</div>

<!-- Password -->
<div class="form-group">
<input type="text" placeholder="Password" class="form-control"
data-bind="value: password">
</div>

<!-- Button -->
<button class="btn btn-default" data-bind="click: signIn">Register</button>
</form>
</div>
</script>